@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
Main text style 
------
font-family: "Open Sans", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Top text
------
font-family: "Open Sans", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*
bg-color:#261E1F;
text-color:ede5dc;
acent-color:8c8c8c;
#696868
body {
    margin: 0;
    height: 100vh;
    z-index: -10px;
    background: linear-gradient(45deg, #333, #555, #777);
    background-size: 400% 400%; 
    animation: gradientShift 22s ease infinite; 
    font-family: Arial, sans-serif;
    color: #fff;
}



@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/

/*
body{
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('img/hidhteckbarbreshop.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* * {
    outline: 1px solid red;
  } */

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(
        135deg, /* Мягкий угол */
        #4a2c0f, /* Темный оранжево-коричневый */
        #6b3a14, /* Чуть светлее темный оранжевый */
        #ff6f61, /* Коралловый */
        #ff9f43, /* Оранжевый */
        #6b3a14, /* Чуть светлее темный оранжевый */
        #4a2c0f /* Темный оранжево-коричневый */
    );
    background-size: 400% 400%; /* Плавный эффект */
    background-attachment: fixed; /* Фиксируем фон */
    animation: WaveGradient 20s ease-in-out infinite; /* Анимация */
}

@keyframes WaveGradient {
    0% {
        background-position: 0% 50%; /* Начало с левой середины */
    }
    25% {
        background-position: 50% 0%; /* Переход к верхнему центру */
    }
    50% {
        background-position: 100% 50%; /* Переход к правой середине */
    }
    75% {
        background-position: 50% 100%; /* Переход к нижнему центру */
    }
    100% {
        background-position: 0% 50%; /* Возврат в начальную точку */
    }
}
/*
Heder
-----------------------------------------------------------------------------------------------------------------------------
*/

header {
    margin-top: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-items: center;
}

main{
    width: 1520px;
    align-items: center;
    justify-items: center;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 50px;
    border-radius: 12px;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
}

.logo a{
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    margin-left: 15px;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin: 0 15px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #dddddd;
    font-family: "Raleway", serif;
}

.enrol a{
    color: #dddddd;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-family: "Raleway", serif;
}

/*
MAin
-----------------------------------------------------------------------------------------------------------------------------
*/

.container{
    margin: 40px;
    width: 1440px;
    height: 600px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
}

.naming{
    color: #dddddd;
    text-align: center;
}

.naming h1{
    font-family: "JetBrains Mono", monospace;
    font-size: 68px;
    margin: 0;
}

.naming h2{
    font-family: "Open Sans", serif;
    font-size: 42px;
    margin: 0;
    margin-bottom: 40px;
}

.enrol_btn{
    height: 60px;
    width: 280px;
    border: none;
    background-color: orange;
    color: #000000;
    font-size: 26px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.enrol_btn:hover{
    transform: scale(1.1); /* Увеличение кнопки */
    background-color: #ffffff; /* Изменение цвета фона при наведении */
}

.container_1{
    width: 1440px;
    height: auto;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.man{
    width: 1440px;
    height: auto;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
    border-radius: 12px;
    margin-bottom: 20px;
}

.wom{
    width: 1440px;
    height: auto;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
    border-radius: 12px;
}

.service_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_1 h2{
    color: #dddddd;
    text-align: center;
    font-weight: 300;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
}

hr{
    border: 0.5px #dddddd solid;
}

.service{
    color: #dddddd;
    margin: 30px;
    padding: 20px;
    background-color: #202020;
    border-radius: 12px;
    text-align: start;
    border: 0.4px #2c2c2c solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */ 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.service:hover{
    transform: scale(1.1);
}

.service li{
    list-style-type: none;
    margin-bottom: 10px;
}

.service p{
    padding: 10px;
}

.our_cast{
    width: 1440px;
    height: 680;
    border-radius: 12px;
    background-color: #000000;
    color: #dddddd;
    margin: 40px;
    padding: 1px;
}

.our_cast h2{
    color: #dddddd;
    text-align: center;
    font-weight: 500;
    font-family: "Raleway", serif;
    margin: 20px;
}

.img_m{
    height: 350px;
    width: 280px;
    border-radius: 12px;
    background-color: #44424300;

}

.img_m img{
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
}

.master{
    width: 280px;
    height: 500px;
    border-radius: 12px;
    background-color: #202020;
    border: 0.4px #2c2c2c solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */ 
    padding: 20px;
    margin: 19px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.master:hover{
    transform: scale(1.05);
}

.master p{
    margin: 10px 0px 10px 0px;
}

.master h2{
    color: #dddddd;
    text-align: center;
    font-weight: 300;
    font-family: "Raleway", serif;
}

.master_cards{
    display: flex;
    align-items: center;
}

.abaut_us{
    margin-top: 60px;
    margin: 40px;
    width: 1440px;
    height: 640px;
    display: flex;
    border-radius: 12px;
    background-color: #202020;
    backdrop-filter: blur(40px);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
}

.ttl{
    margin: 20px;
    height: 60px;
    width: 430px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */    
}

.ttl h2{
    color: #dddddd;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

.ttl a{
    color: #dddddd;
    margin:10px px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.list p{
     color: #dddddd;
     list-style: none;
     text-align: start;
     margin: 0px;
     padding: 0px;
     margin: 10px;
}

.list a{
    text-decoration: none;
    color: #dddddd;
}

.list{
    margin: 20px;
    padding: 20px;
    width: 390px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */   
}

.ShowM{
    border: none;
    height: 40px;
    width: 100px;
    background-color: orange;
    color: #000000;
    font-size: 22px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 670px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ShowM:hover{
    transform: scale(1.07); /* Увеличение кнопки */
    background-color: #ffffff; /* Изменение цвета фона при наведении */
}

.hideServices{
    border: none;
    height: 40px;
    width: 100px;
    background-color: orange;
    color: #000000;
    font-size: 22px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 670px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hideServices:hover{
    transform: scale(1.07); /* Увеличение кнопки */
    background-color: #ffffff; /* Изменение цвета фона при наведении */
}

.hidden {
    display: none !important;
}

/* -----------------------------------------------------------------Test---------------------------------------------------------------------------------------- */

.conteiner_2{
    width: 1440px;
    height: auto;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.30);
    border-radius: 12px;
    margin-top: 20px;
}

.container_title{
    margin: 40px;
}
.container_title h2{
    font-size: 36px;
    font-weight: 500;
}

.nails{
    margin: 40px;
}

.nails h3{
    font-size: 30px;
    font-weight: 400;
    color: #dddddd;
    margin-bottom: 15px;
}
.nails p{
    font-size: 20px;
    color: #dddddd;
    font-size: 300; 
}
.nails span{
    color: #ff9f43;
}

.more{
    height: 60px;
    width: 300px;
    border: none;
    background-color: orange;
    color: #000000;
    font-size: 26px;
    border-radius: 12px;
    border: 0.4px #2c2c2c solid;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.services-container {
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 20px;
    position: relative;
}

.scroll-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
    scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.service-card {
    scroll-snap-align: start;
    width: calc(33.33% - 20px);
    min-width: 300px;
    color: #dddddd;;
    padding: 20px;
    background-color: #202020;
    border-radius: 12px;
    border: 0.6px #919191 solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */ 
    transition: transform 0.3s;
}

.service-card h3{
    font-size: 20px;
    font-weight: 600;
}

/* Кнопки навигации */
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(99, 99, 99, 0.9);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 10;
    display: none;
}

.scroll-btn.prev { left: -25px; }
.scroll-btn.next { right: -25px; }

.services-container:hover .scroll-btn {
    display: block;
}

/* --------------------------------------------------------------------ModalW------------------------------------------------------------------------------------- */

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
  
    /* центрирование */
    align-items: center;
    justify-content: center;
}
  
.modal_content {
    background-color: #333;
    width: 90%;
    max-width: 1055px;
    max-height: 90vh;
    padding: 5px;
    overflow-y: auto;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Сетка для услуг */
  .services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .service-card_2 {
    background-color: #202020;
    border-radius: 12px;
    border: 0.6px #919191 solid;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), /* Первая внутренняя тень */
                inset 5px 5px 10px rgba(0, 0, 0, 0.2); /* Вторая внутренняя тень */ 
    padding: 15px;
    width: calc(20% - 20px);
    box-sizing: border-box;
  }

  .service-card_2:hover {
    background-color: #555;
  }
  
  .service-card_2 h3 {
    margin-top: 0;
  }
  
  .price_2 {
    font-weight: bold;
    color: #ffcc00;
  }

@media (max-width: 768px) {
    .navigation{
        width: 748px;
        justify-content: space-between;
    }
    .navigation ul{
        display: none;
    }
    
    .container{
        width: 748px;
        height: 300px;
        margin: 0;
        margin-top: 20px;
    }

    .container_1{
        width: 748px;
    }

    .conteiner_2{
        width: 748px;
    }

    .naming h1 {
        font-size: 36px;
    }

    .naming h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .enrol_btn, 
    .more {
        width: 90%;
        font-size: 20px;
    }

    .master {
        width: 90%;
        height: auto;
    }

    .img_m {
        height: auto;
        width: 100%;
    }

    .img_m img {
        object-fit: cover;
    }

    .abaut_us {
        flex-direction: column;
        height: auto;
    }

    .ttl,
    .list {
        width: 90%;
        margin: 10px auto;
    }

    .service-card_2 {
        width: 100%;
    }

    .container_title h2 {
        font-size: 28px;
    }

    .nails h3 {
        font-size: 22px;
    }

    .nails p {
        font-size: 16px;
    }

    /* .scroll-wrapper {
        grid-auto-flow: row;
        overflow-x: visible;
    } */

    .scroll-btn {
        display: none !important;
    }

    .scroll-btn {
        display: none !important;
    }
}

@media (max-width: 412px) { 
    main{
        width: 380px;
    }

    header{
        width: 380px;
    }

    .navigation{
        width: 380px;
        justify-content: space-between;
        position: fixed;
        position: sticky;
    }
    .navigation ul{
        display: none;
    }
    
    .container{
        width: 380px;
        height: 300px;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }

    .container_1{
        width: 380px;
        margin: 0;
        margin-top: 20px;

    }

    .conteiner_2 {
        width: 380px;
    }

    .scroll-wrapper{
        width: 340px;
    }

    .service-card{
        width: 260px;
        max-height: 220px;
        width: calc(100% - 5px);
        padding: 10px;
    }

    .nails{
        margin: 20px;
    }

    .services-container{
        padding: 0;
    }

    .more {
        width: 317px;
    }

    .our_cast {
        width: 380px;
        margin: 0;
        margin-top: 20px;
    }

    .master_cards {
        flex-direction: column;
    }

    .abaut_us {
        width: 380px;
        margin: 0;
        margin-top: 20px;
    }

    .list{
        width: 300px;
    }

    .master {
        width: 300px;
        height: 550px;
    }

    iframe{
        width: 340px;
    }
  }

@media (max-width: 390px) {

    main{
        width: 380px;
    }

    header{
        width: 380px;
    }

    .navigation{
        width: 380px;
        justify-content: space-between;
        position: fixed;
        position: sticky;
    }
    .navigation ul{
        display: none;
    }
    
    .container{
        width: 380px;
        height: 300px;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }

    .container_1{
        width: 380px;
        margin: 0;
        margin-top: 20px;

    }

    .conteiner_2 {
        width: 380px;
    }

    .scroll-wrapper{
        width: 340px;
    }

    .service-card{
        width: 260px;
        max-height: 220px;
        width: calc(100% - 5px);
        padding: 10px;
    }

    .nails{
        margin: 20px;
    }

    .services-container{
        padding: 0;
    }

    .more {
        width: 317px;
    }

    .our_cast {
        width: 380px;
        margin: 0;
        margin-top: 20px;
    }

    .master_cards {
        flex-direction: column;
    }

    .abaut_us {
        width: 380px;
        margin: 0;
        margin-top: 20px;
    }

    .list{
        width: 300px;
    }

    .master {
        width: 300px;
        height: 550px;
    }

    iframe{
        width: 340px;
    }
}